{% extends 'base.html' %}
{% load thumbnail %}
{% block title %} Пост {{ post.text|truncatechars:30 }}{% endblock %}
{% block content %}
    <main>
      <div class="container py-5">
        <div class="row">
          <aside class="col-12 col-md-3">
            <ul class="list-group list-group-flush">
              <li class="list-group-item">
                Дата публикации: {{ post.pub_date|date:"d E Y" }}
            </li>
        <!-- если у поста есть группа -->
            {% if post.group %}
            <li class="list-group-item">
            Группа: {{ post.group }}
            <a href="{% url 'posts:group_list' post.group.slug %}">все записи группы</a>
            {% endif %}
            </li>
            <li class="list-group-item">
                Автор: {{ post.author.get_full_name }} {{ post.author }}
            </li>
            <li class="list-group-item d-flex justify-content-between align-items-center">
              Всего постов автора: {{ post.author.posts.count }}
            </li>
            <li class="list-group-item">
              <a href="{% url 'posts:profile' post.author.username %}">
                все посты пользователя
              </a>
            </li>
            </ul>
          </aside>
            <article class="col-12 col-md-9">
              {% thumbnail post.image "500x500" as im %}
                  <img src="{{ im.url }}">
              {% endthumbnail %}
                <p>{{ post.text }}</p>
                <!-- эта кнопка видна только автору -->
                {% if request.user == post.author %}
              <a class="btn btn-primary" href="{% url 'posts:post_edit' post.id %}">
              редактировать запись
                {% else %}
                {% endif %}
              </a>

              {% load user_filters %}
              {% if user.is_authenticated %}
              <div class="card my-4">
                <h6 class="card-header">Добавить комментарий:</h6>
                <div class="card-body">
                  <form method="post" action="{% url 'posts:add_comment' post.id %}">
                    {% csrf_token %}
                    <div class="form-group mb-2">
                      {{ form.text|addclass:"form-control" }}
                    </div>
                    <button type="submit" class="btn btn-primary">Отправить</button>
                  </form>
                </div>
              </div>
              {% endif %}

              {% for comment in comments %}
                <div class="media mb-0">
                  <div class="media-body">
                    <h6 class="mt-0">
                      <a href="{% url 'posts:profile' comment.author.username %}">
                        {{ comment.author.username }}
                      </a>
                    </h6>
                  </div>
                </div>
                    <p>
                      {{ comment.text }}
                    </p>
              {% endfor %}
{% endblock %}
            </article>
        </div>
      </div>
    </main>